<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    id="cordova-plugin-android-debug-ssl-bypass-disable"
    version="1.0.0">
    <name>Android Debug SSL Bypass Disable</name>
    <description>A Cordova plugin to disable the default SSL error bypass in Android debug builds</description>
    <license>Apache 2.0</license>
    <keywords>cordova,plugin,android,debug,ssl,disable</keywords>
    <author>VoltBuilder</author>

    <platform name="android">
    </platform>
</plugin>
